body {
    font-family: Helvetica;
    font-size: 22px;
    opacity: 0.9;
    text-align: center;
    background-color: black;
}


/* header section */


header {
    display: flex;
}

header{
    width: 1200px;
    height: 69px;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    align-items: center;
    flex-direction: row;
    background-color: black;
    position: fixed;
    opacity: 0.9;
}


nav a{
    display: inline-flex;
    text-decoration: underline;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    padding-right: 20px;
}

img.cozy{
    margin-left:10px;
}

/* mission section */
 .main{
     display: flex;
 }

.mission{
background-image: url(../images/img-mission-background.jpg);
height: 700px;
width: 1200px;
justify-content: center;

}

.mission .text-content{
    color: white;
    flex-direction: column;
    align-content: space-around;
    margin: 300px 0;
    background-color: black;
}

/* tea section */

.tea{
   display: flex;
   flex-direction: column;
   flex-wrap: no-wrap;
   height: auto;
   width: 1000px;
   justify-content: space-between;
   color: white;
   background-color: black;
   margin-left: 100px;
}

.chai{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1000px;
  margin-left:100px;
  padding:0 20px;
}

.chai .image-content{
  color: white;
  display: block;
  justify-content: center;
  flex: 3.3;
}

/* location section */

